<!doctype html>
<html lang="en">
 
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../../favicon.ico">
 
  <title>CORUJÃO</title>
  <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/cover/">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 
 
  <!-- Bootstrap core CSS -->
  <link href="/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">,
  <link rel="stylesheet" href="prof.css">
</head>
 
<body background="../static/img/aprof.png">
 
  
  
  <nav class="navbar navbar-expand-md navbar fixed-top bg">
      <a class="navbar-brand" href="{% url 'home' %}">Página Inicial</a> 
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <a class="navbar-brand" href="#">Área do Professor</a> 
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="dalila">
        <a class="btn btn-outline-danger" href="{% url 'home' %}">Sair</a>
    </nav>
 
  <div class="paulo">
  <main role="main">
 
 
    <div class="container">
 
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
 
            <div class="card-body">
              <b class="card-text" >Geometria Espacial</b>
              <div class="form-group">
                  <label for="exampleInputEmail1">Data</label>
                  <input type="date" class="form-control" id="data" aria-describedby="emailHelp" placeholder="--/--/----">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Hora</label>
                    <input type="time" class="form-control" id="hora" aria-describedby="emailHelp" placeholder="--:--">
                  </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Sala</label>
                    <input type="text" class="form-control" id="hora" aria-describedby="emailHelp" placeholder="Sala">
                  </div>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-primary">Confirmar</button>
                </div>
                <small class="text-muted">30 votos</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
 
            <div class="card-body">
              <b class="card-text" >Estequiometria</b>
              <div class="form-group">
                  <label for="exampleInputEmail1">Data</label>
                  <input type="date" class="form-control" id="data" aria-describedby="emailHelp" placeholder="--/--/----">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Hora</label>
                    <input type="time" class="form-control" id="hora" aria-describedby="emailHelp" placeholder="--:--">
                  </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Sala</label>
                    <input type="text" class="form-control" id="hora" aria-describedby="emailHelp" placeholder="Sala">
                  </div>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-primary">Confirmar</button>
                </div>
                <small class="text-muted">28 votos</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
 
            <div class="card-body">
              <b class="card-text" >Literatura</b>
                <div class="form-group">
                    <label for="exampleInputEmail1">Data</label>
                    <input type="date" class="form-control" id="data" aria-describedby="emailHelp" placeholder="--/--/----">
                  </div>
                  <div class="form-group">
                      <label for="exampleInputEmail1">Hora</label>
                      <input type="time" class="form-control" id="hora" aria-describedby="emailHelp" placeholder="--:--">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Sala</label>
                        <input type="text" class="form-control" id="hora" aria-describedby="emailHelp" placeholder="Sala">
                      </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary">Confirmar</button>
                  </div>
                  <small class="text-muted">27 votos</small>
                </div>
            </div>
          </div>
        </div>
 
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
 
            <div class="card-body">
                <b class="card-text" >Soluções</b>
                <div class="form-group">
                    <label for="exampleInputEmail1">Data</label>
                    <input type="date" class="form-control" id="data" aria-describedby="emailHelp" placeholder="--/--/----">
                  </div>
                  <div class="form-group">
                      <label for="exampleInputEmail1">Hora</label>
                      <input type="time" class="form-control" id="hora" aria-describedby="emailHelp" placeholder="--:--">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Sala</label>
                        <input type="text" class="form-control" id="hora" aria-describedby="emailHelp" placeholder="Sala">
                      </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary">Confirmar</button>
                  </div>
                  <small class="text-muted">25 votos</small>
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
 
            <div class="card-body">
                <b class="card-text" >Logarítimo</b>
                <div class="form-group">
                    <label for="exampleInputEmail1">Data</label>
                    <input type="date" class="form-control" id="data" aria-describedby="emailHelp" placeholder="--/--/----">
                  </div>
                  <div class="form-group">
                      <label for="exampleInputEmail1">Hora</label>
                      <input type="time" class="form-control" id="hora" aria-describedby="emailHelp" placeholder="--:--">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Sala</label>
                        <input type="text" class="form-control" id="hora" aria-describedby="emailHelp" placeholder="Sala">
                      </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary">Confirmar</button>
                  </div>
                  <small class="text-muted">22 votos</small>
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
 
            <div class="card-body">
              <b class="card-text" >Globalização</b>
              <div class="form-group">
                  <label for="exampleInputEmail1">Data</label>
                  <input type="date" class="form-control" id="data" aria-describedby="emailHelp" placeholder="--/--/----">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Hora</label>
                    <input type="time" class="form-control" id="hora" aria-describedby="emailHelp" placeholder="--:--">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Sala</label>
                    <input type="text" class="form-control" id="hora" aria-describedby="emailHelp" placeholder="Sala">
                  </div>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-primary">Confirmar</button>
                </div>
                <small class="text-muted">20 votos</small>
              </div>
            </div>
          </div>
        </div>
 
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
 
            <div class="card-body">
                <b class="card-text" >Constituições Brasileiras</b>
                <div class="form-group">
                    <label for="exampleInputEmail1">Data</label>
                    <input type="date" class="form-control" id="data" aria-describedby="emailHelp" placeholder="--/--/----">
                  </div>
                  <div class="form-group">
                      <label for="exampleInputEmail1">Hora</label>
                      <input type="time" class="form-control" id="hora" aria-describedby="emailHelp" placeholder="--:--">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Sala</label>
                        <input type="text" class="form-control" id="hora" aria-describedby="emailHelp" placeholder="Sala">
                      </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary">Confirmar</button>
                  </div>
                  <small class="text-muted">18 votos</small>
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
 
            <div class="card-body">
                <b class="card-text" >Era Vargas</b>
                <div class="form-group">
                    <label for="exampleInputEmail1">Data</label>
                    <input type="date" class="form-control" id="data" aria-describedby="emailHelp" placeholder="--/--/----">
                  </div>
                  <div class="form-group">
                      <label for="exampleInputEmail1">Hora</label>
                      <input type="time" class="form-control" id="hora" aria-describedby="emailHelp" placeholder="--:--">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Sala</label>
                        <input type="text" class="form-control" id="hora" aria-describedby="emailHelp" placeholder="Sala">
                      </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary">Confirmar</button>
                  </div>
                  <small class="text-muted">16 votos</small>
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <b class="card-text" >Função</b>
              <div class="form-group">
                  <label for="exampleInputEmail1">Data</label>
                  <input type="date" class="form-control" id="data" aria-describedby="emailHelp" placeholder="--/--/----">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Hora</label>
                    <input type="time" class="form-control" id="hora" aria-describedby="emailHelp" placeholder="--:--">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Sala</label>
                    <input type="text" class="form-control" id="hora" aria-describedby="emailHelp" placeholder="Sala">
                  </div>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-primary">Confirmar</button>
                </div>
                <small class="text-muted">15 votos</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </main>
</div>
 
  <footer class="text-muted">
    <div class="container">
      <p class="float-right">
      </p>
 
    </div>
  </footer>
